[package]
name = "kvs"
version = "0.1.0"
authors = ["Daniel Zhu"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
assert_cmd = "0.11.0"
predicates = "1.0.0"
clap = { version = "4.1.1", features = ["derive"] }
